@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Noto+Sans+Hanunoo&display=swap');
.p1{
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p2{
    font-size: large;
    font-weight: bold;
    font-style: oblique;
    font-family: "Graduate", serif;
    

}