.rendang{
    background-color: chocolate;
}
.rendang p{
    color: burlywood;
}
.rendang h1{
    color: burlywood;
}
.bakso{
    background-color: gray;
}
.bakso p{
    color: white;
}
.bakso h1{
    color: white;
}
.mie-bangladesh{
    background-color: darkgoldenrod;
}
.mie-bangladesh p{
    color: bisque;
}
.mie-bangladesh h1{
    color: bisque;
}
.makanan{
    background-color: aqua;

}
.makanan h1{
    color: white;
    
}

